@import url("/static/roboto.css");

body {
    font-family: "Roboto";
    background-color: #ffe5b8;
    color: #111;
    margin: 0;
    padding: 0;
    border: 0;
}

div.body-container {
    background-color: #fafafa;
    padding: 5px 10px;
    min-height: calc(100% - 10px);
}

@media screen and (min-width: 1024px) {
    div.body-container {
        border-width: 0 1px;
        border-color: #333;
        border-style: solid;
        margin: 0 auto;
        box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
        max-width: 1000px;
    }
}

.wait-message, .success-message, .error-message {
    display: none;
}

button {
    display: block;
    margin: 20px auto;
    padding: 5px 15px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    color: #111;
    border-color: #111;
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
}

form.submitting button {
    cursor: wait;
    opacity: 0.8;
}

button:hover {
    background-color: #ffe;
}

h1 {
}

h2 {
    margin-block-start: 1.5em;
}

div.input {
    margin: 1em;
}

div.input.switch {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.input.switch label {
    cursor: pointer;
    margin: 0.75em 0;
}

div.input.switch input[type=checkbox] {
    display: none;
}

div.input.switch .switch-ctr {
    position: relative;
    height: 1.25em;
    width: 2.25em;
    margin-right: 0.75em;
    vertical-align: middle;
    cursor: pointer;
}

div.input.switch .switch-ctr .switch-bg {
    position: absolute;
    top: 0.25em;
    left: 0;
    height: 0.75em;
    width: 2.25em;
    border-radius: 0.375em;
    opacity: 0.5;
}

div.input.switch.checked .switch-ctr .switch-bg {
    background-color: #1976d2;
}

div.input.switch:not(.checked) .switch-ctr .switch-bg {
    background-color: #777;
}

div.input.switch .switch-ctr .switch-fg {
    position: absolute;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.625em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: left 0.15s, background-color 0.15s;
}

div.input.switch.checked .switch-ctr .switch-fg {
    left: 1em;
    background-color: #1976d2;
}

div.input.switch:not(.checked) .switch-ctr .switch-fg {
    left: 0;
    background-color: #777;
}


div.input.text {
    position: relative;
    width: calc(100% - 2em);
}

div.input.text input {
    width: 100%;
    border: 1px solid #777;
    padding: 1.25em 1em 1em 1em;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 1em;
}

div.input.text label {
    position: absolute;
    transition-duration: 0.15s;
    transition-property: left, top, font-size, color, opacity;
}

div.input.text.empty label {
    left: 1em;
    top: 1.25em;
    opacity: 0.3;
    font-size: 1em;
}

div.input.text:not(.empty) label {
    font-size: 0.625rem;
    left: 1rem;
    top: 0.25rem;
    opacity: 0.7;
}

div.input.text:focus-within label {
    font-size: 0.625rem;
    left: 1rem;
    top: 0.25rem;
    color: #1976d2;
    opacity: 1;
}


div.input.select {
    position: relative;
    width: calc(100% - 2em);
}

div.input.select select {
    width: 100%;
    border: 1px solid #777;
    padding: 1.125em 1em;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 1em;
}

div.input.select label {
    position: absolute;
    font-size: 0.625rem;
    left: 1rem;
    top: 0.25rem;
    opacity: 0.7;
}
