{% macro switch(name, label, default=False, helperText="") %}
<div class="input switch {% if default %}checked{% endif %}">
  <input type="checkbox" name="{{ name }}" checked="{{ default }}" />
  <span class="switch-ctr">
    <span class="switch-bg"></span>
    <span class="switch-fg"></span>
  </span>

  <label for="{{ name }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro text(name, label, default="", helperText="") %}
<div class="input text {% if default == "" %}empty{% endif %}">
  <input type="text" name="{{ name }}" value="{{ default }}" />
  <label for="{{ name }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro select(name, label, default=None, helperText="") %}
<div class="input select">
  <select name="{{ name }}">
    {{ caller() }}
  </select>
  <label for="{{ name }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro option(value, label, selected=False) %}
<option value="{{ value }}">{{ label }}</option>
{% endmacro %}
